astroid==1.6.6
backports.functools-lru-cache==1.6.6
configparser==4.0.2
enum34==1.1.10

isort==4.3.21
lazy-object-proxy==1.6.0
mccabe==0.6.1
pylint
singledispatch==3.7.0
six==1.16.0
wrapt==1.15.0
Pillow
torch
torchvision
transformers
langchain
langchain_groq
sentence_transformers
efficientnet_pytorch
cv2
gtts
pydub
speech_recognition
keras
scikit-learn
kneed
pyclustering
transformers
scikit-learn
openai
pytorch_lightning
pandas
numpy
matplotlib
scipy
huggingface_hub
flask
flask_cors
crewai